<h1 id="todo-title">{{ title }}</h1>
<input id="todo-input" type="text" placeholder="Enter your todo here" #todo>
<br>
<br>
<button id="todo-input" (click)="addTodo(todo.value)">Add new todo</button>
<br>
<br>
<ul id="todo-input" ui-sortable="todoSortable" *ngFor="let item of list">
    <li>{{ item.name }}<button (click)="removeTodo(item.id)">Delete</button></li>
</ul>
<p id="todo-input">Stuff in todo list</p>
<table id="todo-table" border="1">
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Completed</td>
        <td>DateCreated</td>
    </tr>
    <tr *ngFor="let item of data">
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.completed }}</td>
        <td>{{ item.dateCreated }}</td>
    </tr>
</table>